.containPoCu{
    width: 60vw;
    position: relative;
    margin-top: 20px;
}
.containPoCu  > * {
    position: relative;
    z-index: 99;
}
.containPoCu::after{
    content:" ";
    background-color: rgb(234,191,60);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    z-index: 1;
    background-image: url("../../assets/SVG/dollar.svg") ;
    background-repeat: no-repeat;
    background-position: 100.1% -7%;
    overflow: hidden;
}
.title{
    padding: 0;
    margin:   15px;
    color: white !important;

}
.Card{
    border-radius: 10px;
    background-color: #871E35;
    /*width: 100%;*/
    min-height: 250px;

    padding: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Box{
    width: calc(100% / 3 - 30px);
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    margin: 10px;
    border: 1px solid #EABF3C;
    min-height: 80px;
    display: flex;
align-items: center;
}
.CurrenciesData{
    padding: 10px ;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.CurrenciesData div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CurrenciesData div h4,.CurrenciesData div p{
    padding: 0;
    margin: 0;
}
.CurrenciesData div h4{
   letter-spacing: 1px;
}
.CurrenciesData div p{
    font-size: 11px;
    opacity: 0.8;
    font-weight: bold;
}
@media (max-width: 1200px) {
    .containPoCu{
        width: 70vw;
    }
    .Box{
        width: calc(100% / 2 - 30px);
    }

}
@media (max-width: 992px) {
    .Box{
        width: calc(100% / 1 - 30px);
    }
    .containPoCu{
        width: 85vw;
    }
}
@media (max-width: 768px) {
    .containPoCu{
        width: 90vw;
    }

    .containPoCu::after{



    }
}